:root {
    --primary-color: #ff9854;
}
body {
    font-size: 14px;
    height: 100%;
    --van-search-left-icon-color: var(--primary-color)
}
.topPage {
    position: relative;
    z-index: 999;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
}

.bottom-gray-line {
    border-bottom: 1px solid var(--line-color);
  }